.archive_photo .image{
   height: 140px;
   background-size: cover;
   img{
      object-fit: cover;
   }
}
.archive_photo:hover{
   color: $red;
}
.fotogalerie{
   .info{
      padding-top: 16px;
      h3{
         font-size: 1rem;
         font-weight: 700;
      }
      span{
         font-size: 0.75rem;
         margin-bottom: 12px;
      }
   }
}