.partner_box{
   box-shadow: 0 6px 15px 0 rgba(33, 37, 41,  .15);
}
.partneri-page{
   .main__content{
      h2{
         margin-bottom: 16px;
         color: #000;
         border-bottom: 1px solid $red;
         width: fit-content;
      }
   }
}